.Hero{
    background-color: white;
     /* linear-gradient(90deg, rgba(121,9,113,0.6054796918767507) 39%, rgba(55,0,255,0.6138830532212884) 90%), url(../../../../public/Assect/fukayamamo-Cp1LK6zNEZ8-unsplash.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover; */
    display: flex;
    flex-direction: row;
    color: #000;  
    font-size: 24px;
    margin: auto;
    /* gap: 200px; */
    justify-content: space-between;
    background-color: #fff;
    border:1px solid #fff;
    height: 80px;
    position: static;

}

.HeroNavBar{
  display: flex;
  text-align: center;
  justify-content: center;
}

.HeroA{
  display: inline-block;
  margin: 37px 0 auto;
  padding-right: 30px;
  /* flex-direction: column; */
  text-align: center;
  text-decoration: none;
  color: #000;

}

.HeroInput{
  justify-content: center;
  border: 1px solid  rgba(212, 202, 202, 0.37);
  border-radius: 60px;
   height: 30px; 
  margin-top: 44px;
  font-size: 1.5rem;
}

.HeroSection{
  background-image: url(../../../../public/Assect/fbg.jpg);
  background-size: cover;
  width: 100%;
  height: 100vh;
  background-position: center;
  display: inline-block;
  text-align: center;
  justify-content: center;
  color: #fff;
}

.HeroSectionH1{
font-size: 40px;
font-weight: 900;
/* padding-top:5px;
padding-bottom: 15px; */
}

.HeroSectionH3{
  padding-top: 260px;
  font-size: 34px;
  font-style: italic;
}

.HeroSectionButton{
  background-color: rgb(240, 240, 80);
  border: none;
  border-radius: 100px;
  width: 100px;
  height: 30px;
}