
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.img {
  width: 700px;
  height: auto;
  
}


.services {
  background-color: #666;
  color: aliceblue;
   padding: 80px 120px; 
}
 .App {
  text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 30vh;
    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.698) 21%, rgba(0, 0, 0, 0.603) 100%),url(../../Agble_Ville/src/Components/landing-page/about-section/asserts/image3.jpg);
    background-position: top; */
    text-align: center;
    font-size: 20px;



}



.services {
  
    height: 30vh;
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.698) 21%, rgba(0, 0, 0, 0.603) 100%),url(../src/Assect/image3.jpg);
    background-position: top;
    text-align: center;
    font-size: 20px;
height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }








.new-item-text{
 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    align-items: center;
    padding: 0 100px ;
      height: auto;
      padding-bottom: none ;
    }
  ;
  


 

.texts h5 {
  font-family: cursive;
  color: green;
}

.service-card
{
  padding:20px;
  width: 250px;
 
 
}

  

.about-text {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  /* padding: 100px 0; */
  padding-bottom: 30px;


}
.images {
  height: 50px;

}
.txt {
  font-size: xx-large;
  opacity: 50%;
  color: white;
}

.texts{
  font-size: 20px;
  padding: none;
  margin: none;
}

.pg
{
  padding-top: 20px;
  font-weight: 300;
}

.Ab{
  padding-top: 20px;
}
.img1
{
  height: 20px;

}
.texts h5{
  color: green;
  font-family: cursive ;
  font-size: larger;
}

.texts h3 {
  font-weight: 500;
  font-size:50px;
}

.btn {
  border-radius: 50%;
  background: #dfca57b6;
  padding: 11px 8px 10px 10px;
  text-decoration: none;
  border: none;
  width: 50px;
  height: 50px;
 

 
}
.botton{
  padding-top: 25px;
}

.btn:hover {
  background: #9acea3;
  text-decoration: none;
}

.history-item{

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 0px;
 
}

.history
{
padding: 120px ;
text-align: center;
background-image: url(../src/Assect/artem-kniaz-RWeO3t9FxG0-unsplash.jpg);
background-position: center;
background-size: cover;



}

.history h2{

    text-align: center;
    /* margin-bottom: 30px; */
  
    color: white;
    padding-top: none;
    
}

.history h3 {color: black;

}
.history p{
  padding: 10px;
  font-weight: 300;
  
}

.history-card{
  background-color:linear-gradient(90deg, rgba(50, 44, 51, 0.698) 21%, rgba(56, 59, 66, 0.603) 100%);
  color : white;
  padding:20px ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add shadow to create 3D effect */
border-radius: 3px;
height: 250px;


}
.history h2 {
margin-bottom: 30px;
}

.team-card {
  text-align: center;
  border-radius: 10px;
  /* padding: 30px; */
  
  

}

.teamsession h2{
  text-align: center;
  margin-bottom: 30px;
 
  color: black;
  
}

.teamsession{
 
  padding: 50px;
  margin-top: 60px;
  
  
}

.team-card img{
  width: 300px;
  height: 300px;
   border-radius: 5px;
  padding: 18px;
  background-color: white; }

  .team {
    display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

  
  

  
 .social-media img {
  width: 60px; /* Adjust the width of the images as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; 
  padding: none;
}




.testimonial
{
padding: 120px ;
text-align: center;
background-image: url(../src/Assect/herosection3.jpg);
background-position: center;
background-size: cover;



}

.testi h2{

    text-align: center;
    /* margin-bottom: 30px; */
    font-size: 50px;
    color: white;
    padding-top: none;
    
}

.testi-card{
  background-color:white;
  color : black;
  padding:40px ;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); /* Add shadow to create 3D effect */
border-radius: 10px;
height: 300px;
margin: 30px;

}
.testi h2 {
margin-bottom: 30px;
color: gray;
}

.testi-item{

  
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .abouthero
{
padding: 120px ;
text-align: center;
background-image: linear-gradient(rgba(199, 223, 132, 0.5),
rgba(226, 222, 222, 0.5)), url(../src/Assect/image3.jpg);
background-position: center;
background-size: cover;
height: auto;



}

.abouthero h2{

    text-align: center;
    /* margin-bottom: 30px; */
   
    color: white;
    padding-top: none;
    
}

.abouthero p{
  padding: 40px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

   
.marks img {
  width: 30px; /* Adjust the width of the images as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; 
  padding: none;
  align-items: center;
}

.face img {
  width: 50px; /* Adjust the width of the images as needed */
  height: 50px; /* Maintain aspect ratio */
  /* margin-right: 5px;  */
  padding: 5px;
  /* align-content: last baseline; */
  border-radius: 50%;
}

.face{
  padding: 10px;
}